<div class="container mt-5">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
             
                <a class="nav-link" (click)="selectArea(43934)" >1</a>
              </li> 
                 <li class="nav-item">
                    <a class="nav-link" (click)="selectArea(52503)">2</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" (click)="selectArea(57177)">3</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" (click)="selectArea(69658)">4</a>
              </li>  
              <li class="nav-item">
                <a class="nav-link" (click)="selectArea(97031)">5</a>
              </li> <li class="nav-item">
                <a class="nav-link" (click)="selectArea(119931)">6</a>
              </li> <li class="nav-item">
                <a class="nav-link" (click)="selectArea(137133)">7</a>
              </li> <li class="nav-item">
                <a class="nav-link" (click)="selectArea(154175)">8</a>
              </li>
             </ul>
          </div>
        
      </nav>

      <div class="col-md-10 text-center my-3">
        <button (click)="select(1)" class="btn btn-primary mx-3">Select</button>
        <button (click)="select(2)" class="btn btn-primary">De Select</button>
      </div>

<div id="container"></div>




</div>
